* {
   margin: 0px;
   padding: 0px;
 }

 header {
   background: url("https://images.unsplash.com/photo-1614849286521-4c58b2f0ff15?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvbG9yZnVsJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
   width: 960px;
   height: 150px;
 }

 body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: grey url("https://img.freepik.com/vrije-vector/neutrale-zachte-abstracte-aquarel-achtergrond_53876-100960.jpg");
}

header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  text-shadow: 7px 7px 10px #000000;
}

ul {
  background: #080808;
  padding: 10px;
  text-align: center;
}

ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #00ff99;
}

section {
  padding: 5px;
  margin: 5px;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

article h2 {

}

article p {

}

footer {
  background: #49bede;
}

footer h3 {
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

.hover {
  font-size: 1px;
}

.suprise {
  display: none;
}

.secret:hover .suprise {
  padding: 15px;
  display: block;
  background-color: lightblue;
}
